<div class="form-container">
    <form>
        <h2>Login</h2>
        <input placeholder="E-mail">
        <input placeholder="Password">
        <button>
            Login
        </button>
    </form>
    {{#link-to 'signup'}}
    Signup
    {{/link-to}}
</div>