<div class="form-container">
    <form>
        <h2>Sign up</h2>
        <input placeholder="E-mail">
        <input placeholder="Password">
        <button>
            Sign up
        </button>
    </form>
    {{#link-to 'login'}}
    Login
    {{/link-to}}
</div>